:root {
  --header-height: 650px;
  font-size: 62.5%;
  /* CSS HEX */
  --crimson-ua: #a91032;
  --indian-yellow: #e3a155;
  --glaucous: #647ca6;
  --dark-purple: #3d1435;
  --backgroundColor: #eef4ed;
}

body, html {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  background-color: black;
  color: #000000;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media(max-width: 719px) {
  body, html {
    display: block;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-moz-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-moz-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-scrollbar-thumb:hover {
  background: #555;
}

/*____________________________________________________________________________________*/
/* Universal styles */
.hidden {
  visibility: hidden;
  display: none;
}

.shown {
  visibility: visible;
  display: inherit;
}

.overhidden {
  overflow: hidden;
}

.textbox {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2NgYGA4AwAA0QDNtcLOUgAAAABJRU5ErkJggg==") repeat;
  height: auto;
  padding: 25px;
  border-radius: 25px;
}

.centerPadding {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
}

/*____________________________________________________________________________________*/
/* Body */
header.masthead {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2NgYGBoAAAAhQCBBFzenAAAAABJRU5ErkJggg==") repeat, url(../img/background.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

header.masthead h1 {
  color: #F0EDEE;
}

section.masthead {
  background: url(../img/background.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 50%;
}

section.masthead h1 {
  color: #F0EDEE;
}

main {
  background-color: #F0EDEE;
}

.subContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.stickyElement {
  position: sticky;
  top: 0;
}
/*____________________________________________________________________________________*/
/* Top Menu */

nav#menuTemp {
  position: fixed;
  background-color: #000000;
  font-family: 'Allerta Stencil', sans-serif;
  width: 100%;
  height: auto;
  padding: 15px;
  color: #FFFFFF;
  z-index: 10;
}

nav#menuTemp a {
  color: #FFFFFF;
}

nav#menuTemp .fab {
  font-size: 32px;
  color: #FFFFFF;
}

nav#menuTemp .dropdown-menu {
  background-color: #000000;
}

nav#menuTemp .dropdown-item {
  color: #FFFFFF;
}

nav#menuTemp .fa-bars {
  color: #FFFFFF;
  font-size: 2.4rem;
}

@media(max-width: 719px) {
  #sideMenu {
    visibility: hidden;
    display: none;
  }
  #content .w-100 {
    width: auto !important;
  }
  nav#menuTemp {
    visibility: visible;
    display: inherit;
  }
}

@media(min-width: 719px) {
  nav#menuTemp {
    visibility: hidden;
    display: none;
  }
}

/*____________________________________________________________________________________*/
/* Side Menu */
#sideMenu {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  left: -33.4%;
  background-color: #000000;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1024;
}

@media(max-width: 719px) {
  #sideMenu {
    visibility: hidden;
    display: none;
  }
  #content .w-100 {
    width: auto !important;
  }
}

#sideMenuContent {
  position: relative;
  opacity: 1;
  top: 0;
  width: 100%;
  text-align: center;
  transition: 0.6s ease;
}

#sideMenuInnerContent {
  position: relative;
  text-align: center;
  transition: all 2s ease-in-out;
  padding: 0;
}

#sideMenuSideContent {
  border: 2px solid white;
}

#sideMenuInnerContent .nav-item {
  border: 2px solid white;
  height: 25%;
  display: flex;
  align-items: center;
}

#sideMenuInnerContent .nav-link {
  width: 100%;
  font-size: 48px;
  color: #FFFFFF
}

#sideMenuContent div {
  text-decoration: none;
  font-size: 32px;
  transition: 0.3s;
}

#buttonOpenPoemsNav {
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
  border: 2px solid #A8897D;
  border-radius: 25px;
}

#sideMenu .btn.active {
  background-color: #A8897D;
  color: #0D1313;
}

#sideMenu .btn:hover {
  background-color: #A8897D;
  color: #0D1313;
}



#content {
  width: 100%;
  height: 100%;
}

.menuBar .bar {
  width: 38.95px;
  height: 2px;
  background-color: #FFFFFF;
  padding: 0;
  margin: 10px 0;
}

.pageName {
  padding: 8px;
}

.menuBar:hover {
  transform: translate(-5px);
}

.menuBar:hover .bar-1 {
  transform: rotate(45deg) translate(12.5px, 5px);
}

.menuBar:hover .bar-2 {
  transform: translate(5px);
}

.menuBar:hover .bar-3 {
  transform: rotate(-45deg) translate(12.5px, -5px);
}

.menuBar:hover .bar-4 {
  transform: rotate(90deg) translate(-23px, -5px);
}

/*____________________________________________________________________________________*/
/* Poems Page*/

#poems {
  margin-top: 100px;
  width: 100%;
  height: auto;
}

.poemDiv {
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  max-width: 32%;
  padding: 0 1rem;
  margin: 5px;
  display: grid;
  align-items: stretch;
}

.poemDiv > h3 > p {
  height:  200px;
}

@media (max-width:719px) {
  .poemDiv {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/*____________________________________________________________________________________*/
/* Password Generator */

.checkBox {
  padding: 15px;
}

.checkBox p {
  padding: 0;
  margin: 0;
}

#pdwCopy {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 28px;
  text-align: center;
  background: #000000;
  border: 2px solid white;
  background-image: url(../img/clipboard-regular.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#numberSlideTextBox {
  font-size: 18px;
  border: 0;
  margin: 2px 0;
}

.checkMarkEmpty {
  height: 35px;
  background-image: url(../img/square-solid.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.checkMarkFull {
  height: 35px;
  background-image: url(../img/square-check-solid.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 719px) {
  #checkBox {
    display: block
  }
}

.numberSlideTextBox {
  width: 100%;
  text-align: center;
  font-size: inherit;
}

.numberslide {
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  padding: 0 5px;
  background: #000000;
  border: 2px solid white;
  transition: opacity .2s;
  margin-top: 2px;
}

.numberslide::-webkit-slider-thumb {
  background: #000000;
  border: 2px solid white;
  appearance: none;
  background: #833721;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.numberslide::-moz-range-thumb {
  background: #000000;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

#thumb {
  padding: 10px;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 28px;
  background: #000000;
  border: 2px solid white;
  color: #FFFFFF;
}

@media (max-width: 719px) {
  .numberSlideTextBox {
    font-size: 18px;
  }
}

/*____________________________________________________________________________________*/
/* Base 64 Converter */
#base64EncodeTextBoxStart, #base64EncodeTextBoxEnd, #base64DecodeTextBoxStart, #base64DecodeTextBoxEnd {
  width: 100%;
  height: 50px;
  font-size: 18px;
}

#base64EncodeTextBoxEnd, #base64DecodeTextBoxEnd {
  margin-top: 10px;
}

#base64ConvertButton {
  width: 100%;
  height: 100%;
  font-size: 18px;
}


/*____________________________________________________________________________________*/
/* Buttons */

.btn-inverted {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #0D1313;
  padding: 15px;
  margin: 5px 0;
  text-align: center;
  display: flex;
  align-items: center !important;
  width: auto;
  height: auto;
  text-decoration: none;
  border: none;
}

.btn-inverted * {
  color: #0D1313;
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-inverted:hover {
  background-color: #8a5e51;
  color: #0D1313;
  text-decoration: none;
  padding: 15px;
}

.btn-inverted.active {
  background-color: #0D1313;
  color: #A8897D;
}

/*____________________________________________________________________________________*/
/* Footer */


footer {
  width: 100%;
  height: auto;
  background-color: #000;
  color: #A91032;
  margin-top: 100px;
}

/*____________________________________________________________________________________*/

hr {
  border: none;
  border-top: 5px double #e2ebf0;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  background-color: #000;
  text-align: center;
}

/*____________________________________________________________________________________*/
a {
  text-decoration: none;
  color: #cecece;
}

a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

/*____________________________________________________________________________________*/
/* Text */

.h1, .h2, .h3, .h4, .h5, .h6, .p, h1, h2, h3, h4, h5, h6, p {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Redressed', cursive;
}

.h1, h1 {
  font-size: 7.2rem;
}

.h2, h2 {
  font-size: 6.0rem;
}

.h3, h3 {
  font-size: 4.8rem;
}

.h4, h4 {
  font-size: 3.6rem;
}

.h5, h5 {
  font-size: 2.4rem;
}

.h6, h6 {
  font-size: 2rem;
}

.p, p, li, .li {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
